* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.resume-contents {
    min-height: 100vh;
    width: 80%;

    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #353534;
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: #4B6982;


    border-radius: 0px 60px 0px 0px;
}

.left-section-contents {
    padding: 2rem 2rem;
}

.profile {
    width: 100%;
    border-bottom: 2px solid #eeeeee;
}



.profile-image {
    width: 100%;
    border-radius: 15%;
    margin-bottom: 20px;
}


.name {
    color: #D6DBDF;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.profession {
    color: #ffda07;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
.left-title {
    color: #ffda07;
    font-size: 20px;
    text-transform: uppercase;
}

.contact-info ul {
    padding-top: 1.5rem;

}

.contact-info {

    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-info ul li,
.references ul li {
    padding: .4rem 0;
    color: #eeeeee;

}

.contact-info ul li i,
.references ul li i {
    /* padding-right: 1rem; */
    font-size: 20px;
    color: #6ea1ca;
}

.skills {
    font-size: 18px;
    text-transform: uppercase;



}

.skills ul {
    padding-top: 1.5rem;

}

.skills-title {
    color: #ffda07;
    font-size: 20px;
}

.skills ul li {
    padding: .4rem 0;
    color: #eeeeee;
    text-transform: uppercase;


}

.right-section-contents {
    padding: 2rem 2rem;
}

.right-title {
    color: #ffda07;
    font-size: 40px;
    text-shadow: 2px 2px #1b1818;
    margin-bottom: 10px;
}

.gap {
    padding-top: 0px
}

.about-me-contents {
    font-size: 20px;
    color: #fffffff1;

}

/* experiencia  */

.experience, .awards {
    padding: 32px;
    background-color: #828d91;
    border-radius: 28px;
    margin-bottom: 45px;
    margin-inline: 25px;
    display: grid;


}

.right-tile {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 40px;
    color: #ffda07;
    text-shadow: 2px 2px #1b1818;
    padding-bottom: 5px;
    border-bottom: 2px solid #0d1f3a;
}




.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
    gap: 20px;

    color: #F1F8FD;
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 25px;
    font-weight: bold;
}

.exp-time-period,
.educationp-time-period,
.awards-time-period {
    font-size: 18px;
}

.exp-position,
.education-subject,
.awards-name {
    font-size: 25px;
}

.exp-desc,
.education-desc,
.awards-desc {
    font-size: 16px;
    padding-left: 5px;
}

/* testes */

.exp-left {

    display: grid;
    align-content: space-around;

}

.exp-right {
    border-left: 3px solid rgb(33, 117, 202);
    padding-left: 5px;
    display: grid;
    gap: 10px;
}

/* Formação academica */

.education {
    padding: 32px;
    background-color: #828d91;
    border-radius: 28px;
    margin: 25px;
}

.right-title {
    padding-bottom: 5px;
    border-bottom: 2px solid #0d1f3a;
    margin-bottom: 25px;
}

.education-left{
    display: grid;
    gap: 10px;
}

.education-right {
    border-left: 3px solid rgb(33, 117, 202);
    padding-left: 5px;
    display: grid;
    gap: 10px;
}

.awards-right{
    border-left: 3px solid rgb(33, 117, 202);
    padding-left: 5px;
    display: grid;
    gap: 10px;
}

.awards-name{
    /* padding-right: 10px; */
    
}

.awards-contents{
    gap: 10px;
}

.awards-left{
    display: grid;
    gap: 5px;
}

.awards{
    margin-top: 45px;
}

/* icones */
.contact-info li{
    display: grid;
    grid-template-columns: auto 215px;
    gap: 10px;
    text-align:start;
    text-transform: uppercase;
    
}
a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 15px;
}
i{
    color: #0d1f3a;


}